In [87]:
#1
# Program to calculate the sum and average of three float numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))


sum_numbers = num1 + num2 + num3


average = sum_numbers / 3


print(f"The sum of the three numbers is: {sum_numbers}")
print(f"The average of the three numbers is: {average}")

Enter the first number:  5
Enter the second number:  78
Enter the third number:  9

The sum of the three numbers is: 92.0
The average of the three numbers is: 30.666666666666668

In [7]:
#2
import math

radius = 6
volume = (4/3) * math.pi * (radius ** 3)

print(f"The volume of the sphere is: {volume:.2f} cubic centimeters")

The volume of the sphere is: 904.78 cubic centimeters

In [9]:
#3 
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * (radius ** 2)

print(f"The area of the circle with radius {radius} is: {area:.2f} square units")

Enter the radius of the circle:  8

The area of the circle with radius 8.0 is: 201.06 square units

In [11]:
#4
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the rate of interest: "))
time = float(input("Enter the time period in years: "))

simple_interest = (principal * rate * time) / 100

print(f"The simple interest is: {simple_interest:.2f}")

Enter the principal amount:  5
Enter the rate of interest:  8
Enter the time period in years:  9

The simple interest is: 3.60

In [13]:
#5
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

num1, num2 = num2, num1

print(f"After swapping: num1 = {num1}, num2 = {num2}")

Enter the first number:  5
Enter the second number:  8

After swapping: num1 = 8.0, num2 = 5.0

In [15]:
#6
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 1.8) + 32

print(f"{celsius} degree Celsius is equal to {fahrenheit:.2f} degree Fahrenheit")

Enter temperature in Celsius:  80

80.0 degree Celsius is equal to 176.00 degree Fahrenheit

In [17]:
#7
days = int(input("Enter the number of days: "))

years = days // 365
remaining_days = days % 365
months = remaining_days // 30
remaining_days %= 30
weeks = remaining_days // 7
remaining_days %= 7

print(f"{days} days is equal to {years} years, {months} months, {weeks} weeks, and {remaining_days} days.")

Enter the number of days:  7

7 days is equal to 0 years, 0 months, 1 weeks, and 0 days.

In [19]:
#8
m1 = float(input("Enter the mass of the first object (in kg): "))
m2 = float(input("Enter the mass of the second object (in kg): "))
r = float(input("Enter the distance between the centers of the masses (in meters): "))

G = 6.673 * (10 ** -11)
force = (G * m1 * m2) / (r ** 2)

print(f"The gravitational force between the objects is: {force:.2e} N")

Enter the mass of the first object (in kg):  10
Enter the mass of the second object (in kg):  8
Enter the distance between the centers of the masses (in meters):  9

The gravitational force between the objects is: 6.59e-11 N

In [21]:
#9
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(f"{num} is Even")
else:
    print(f"{num} is Odd")

Enter a number:  7

7 is Odd

In [23]:
#10
num = int(input("Enter a number: "))

if num > 15:
    result = 2 * (num - 15)
else:
    result = 4 * (15 - num)

print(f"The result is: {result}")

Enter a number:  20

The result is: 10

In [31]:
#11
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

print("The largest number is: ",largest)

Enter the first number:  10
Enter the second number:  9
Enter the third number:  8

The largest number is:  10.0

In [35]:
#12
side1 = float(input("Enter the first side: "))
side2 = float(input("Enter the second side: "))
side3 = float(input("Enter the third side: "))

if side1 == side2 == side3:
    print("Equilateral triangle")
elif side1 == side2 or side2 == side3 or side3 == side1:
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Enter the first side:  7
Enter the second side:  7
Enter the third side:  5

Isosceles triangle

In [37]:
#13
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year:  2024

2024 is a leap year

In [39]:
#14
mark1 = float(input("Enter marks for the first subject: "))
mark2 = float(input("Enter marks for the second subject: "))
mark3 = float(input("Enter marks for the third subject: "))
mark4 = float(input("Enter marks for the fourth subject: "))

average = (mark1 + mark2 + mark3 + mark4) / 4

if average >= 75:
    grade = 'A'
elif average >= 60:
    grade = 'B'
elif average >= 40:
    grade = 'C'
else:
    grade = 'D'

print("The average marks are:", average)
print("The grade is:", grade)

Enter marks for the first subject:  80
Enter marks for the second subject:  75
Enter marks for the third subject:  90
Enter marks for the fourth subject:  52

The average marks are: 74.25
The grade is: B

In [41]:
#15
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice (1/2/3/4): ")

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
    print("Result:", add(num1, num2))
elif choice == '2':
    print("Result:", subtract(num1, num2))
elif choice == '3':
    print("Result:", multiply(num1, num2))
elif choice == '4':
    print("Result:", divide(num1, num2))
else:
    print("Invalid input")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter choice (1/2/3/4):  3
Enter first number:  8
Enter second number:  65

Result: 520.0

In [43]:
#16
import cmath

a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

d = (b**2) - (4*a*c)

root1 = (-b - cmath.sqrt(d)) / (2*a)
root2 = (-b + cmath.sqrt(d)) / (2*a)

print("The roots of the quadratic equation are:", root1, "and", root2)

Enter coefficient a:  4
Enter coefficient b:  8
Enter coefficient c:  2

The roots of the quadratic equation are: (-1.7071067811865475+0j) and (-0.2928932188134524+0j)

In [45]:
#17
n = int(input("Enter a number: "))

for i in range(1, n + 1):
    print(i)

Enter a number:  15

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [47]:
#18
n = int(input("Enter a number: "))

sum_natural = n * (n + 1) // 2

print("The sum of natural numbers up to", n, "is:", sum_natural)

Enter a number:  12

The sum of natural numbers up to 12 is: 78

In [49]:
#19
num = int(input("Enter a number: "))
sum_digits = 0

while num > 0:
    digit = num % 10
    sum_digits += digit
    num = num // 10

print("The sum of the digits is:", sum_digits)

Enter a number:  52

The sum of the digits is: 7

In [51]:
#20
num = int(input("Enter a number: "))

print("The factors of", num, "are:")
for i in range(1, num + 1):
    if num % i == 0:
        print(i)

Enter a number:  169

The factors of 169 are:
1
13
169

In [53]:
#21
num = int(input("Enter a number: "))
reverse_num = 0

while num > 0:
    digit = num % 10
    reverse_num = reverse_num * 10 + digit
    num = num // 10

print("The reverse of the number is:", reverse_num)

Enter a number:  753

The reverse of the number is: 357

In [55]:
#22
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("The factorial of", num, "is:", factorial)

Enter a number:  12

The factorial of 12 is: 479001600

In [57]:
#23
num = int(input("Enter a number: "))
original_num = num
reverse_num = 0

while num > 0:
    digit = num % 10
    reverse_num = reverse_num * 10 + digit
    num = num // 10

if original_num == reverse_num:
    print(original_num, "is a palindrome")
else:
    print(original_num, "is not a palindrome")

Enter a number:  154

154 is not a palindrome

In [61]:
#24
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number:  67

67 is a prime number

In [63]:
#25
num = int(input("Enter a number: "))
order = len(str(num))
sum_digits = sum(int(digit) ** order for digit in str(num))

if num == sum_digits:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number:  125

125 is not an Armstrong number

In [65]:
#26
n = int(input("Enter the number of terms: "))

a, b = 0, 1
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Enter the number of terms:  8

0 1 1 2 3 5 8 13

In [67]:
#27
num = int(input("Enter a number: "))

print("Multiplication table for", num)
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number:  8

Multiplication table for 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [69]:
#28
n = int(input("Enter the number of elements: "))
user_list = []

for i in range(n):
    element = input("Enter element: ")
    user_list.append(element)

print("The list is:", user_list)

Enter the number of elements:  8
Enter element:  5
Enter element:  7
Enter element:  23
Enter element:  55
Enter element:  7
Enter element:
Enter element:  5
Enter element:  554

The list is: ['5', '7', '23', '55', '7', '', '5', '554']

In [71]:
#29
def find_average(numbers):
    return sum(numbers) / len(numbers) if numbers else 0

numbers = []
n = int(input("Enter the number of elements: "))
for i in range(n):
    num = float(input("Enter number: "))
    numbers.append(num)

average = find_average(numbers)
print("The average of the list is:", average)

Enter the number of elements:  5
Enter number:  25
Enter number:  49
Enter number:  66
Enter number:  78
Enter number:  95

The average of the list is: 62.6

In [73]:
#30
def find_largest(numbers):
    return max(numbers)

numbers = []
n = int(input("Enter the number of elements: "))
for i in range(n):
    num = float(input("Enter number: "))
    numbers.append(num)

largest = find_largest(numbers)
print("The largest element in the list is:", largest)

Enter the number of elements:  4
Enter number:  78
Enter number:  159
Enter number:  25
Enter number:  755

The largest element in the list is: 755.0

In [75]:
#31
def linear_search(arr, target):
    for i in range(len(arr)):
        if arr[i] == target:
            return i
    return -1

arr = []
n = int(input("Enter the number of elements: "))
for i in range(n):
    num = float(input("Enter number: "))
    arr.append(num)

target = float(input("Enter the target element: "))
result = linear_search(arr, target)

if result != -1:
    print("Element found at index:", result)
else:
    print("Element not found in the array")

Enter the number of elements:  6
Enter number:  74
Enter number:  56
Enter number:  144
Enter number:  198
Enter number:  45
Enter number:  366
Enter the target element:  52

Element not found in the array

In [81]:
#32
lines = []
print("Enter lines of text (type 'STOP' to end):")
while True:
    line = input()
    if line == 'STOP':
        break
    lines.append(line.upper())

for line in lines:
    print(line)

Enter lines of text (type 'STOP' to end):

 i am dipty
 this is my python assignment
 STOP

I AM DIPTY
THIS IS MY PYTHON ASSIGNMENT

In [83]:
#33
input_numbers = input("Enter comma-separated numbers: ")
numbers_list = input_numbers.split(',')
numbers_tuple = tuple(numbers_list)

print(numbers_list)
print(numbers_tuple)

Enter comma-separated numbers:  37,7,15,71

['37', '7', '15', '71']
('37', '7', '15', '71')

In [85]:
#34
net_amount = 0

print("Enter transactions (type 'STOP' to end):")
while True:
    transaction = input()
    if transaction == 'STOP':
        break
    type, amount = transaction.split()
    amount = int(amount)
    if type == 'D':
        net_amount += amount
    elif type == 'W':
        net_amount -= amount

print("Net amount:", net_amount)

Enter transactions (type 'STOP' to end):

 D 800
 D 500
 W 200
 D 500
 STOP

Net amount: 1600